In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("Ecommerce Purchases.csv")

# Sample Rows

In [6]:
df.sample(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
8988,"70223 Jeremy Vista Suite 759\nLake John, NJ 92443",87 VI,AM,Opera/9.80.(X11; Linux i686; en-US) Presto/2.9...,"Price, Harrison and Sparks",675952434529,05/23,740,Voyager,berryangel@silva.com,Minerals surveyor,204.138.117.107,ru,57.74
9317,"053 Park Parkways\nSouth Alexton, UT 68787-3888",61 SV,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows 98;...,"Hunt, King and Mcfarland",6011294657063718,12/25,520,JCB 15 digit,anthonybailey@shaw-griffin.net,Volunteer coordinator,18.238.192.32,es,58.41
9599,"64662 Michael Manor Suite 537\nJodichester, ME...",55 Kp,AM,Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...,Barton LLC,5262984317652292,09/25,383,Voyager,burkecrystal@robertson.info,Theme park manager,5.9.134.200,el,60.46

# Data Types of Each Column

In [7]:
df.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

# Null Values in Each Column

In [9]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

# Number of Rows in My Data-Set

In [10]:
df.index

RangeIndex(start=0, stop=10000, step=1)

# No of Columns in My Data-Set

In [11]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

# Info about My Data_Set

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

# Highest and Lowest Purchase Price

In [16]:
df['Purchase Price'].max()

99.99

In [17]:
df['Purchase Price'].min()

0.0

# Average Price of Purchase Price

In [23]:
df['Purchase Price'].mean()

50.34730200000025

#  How Many People Have French 'fr' as their Language?

In [24]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [32]:
len(df[df['Language']=='fr'])

1097

In [35]:
df[df['Language']=='fr'].count()

Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

# Job Title contain Engineers

In [45]:
df[df['Job'].str.contains("engineer",case=False)].count()

Address             984
Lot                 984
AM or PM            984
Browser Info        984
Company             984
Credit Card         984
CC Exp Date         984
CC Security Code    984
CC Provider         984
Email               984
Job                 984
IP Address          984
Language            984
Purchase Price      984
dtype: int64

In [46]:
len(df[df['Job'].str.contains("engineer",case=False)])

984

# Find The emails of the person With the following Email Address: 132.207.160.22

In [50]:
df[df['IP Address']=='132.207.160.22']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [51]:
df[df['IP Address']=='132.207.160.22']['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object